
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/21513311-dca2-4513-be9a-2d48d6d205f6.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/5ccbefc0-8032-4914-81b3-fbb165b0aec7.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/ede51943-d9b1-462c-b1d1-f7f7edfc725f.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/f3a19e6c-c26c-4362-b63d-355da8795e4b.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/DesignTimeBuild/.dtbcache.v2
Microsoft_C\#/.vs/Microsoft_C\#/v17/.futdcache.v2
/Microsoft_C#/.vs/Microsoft_C#/FileContentIndex/02e9a30f-11e7-4ef6-9dfa-f1410e87a3b2.vsidx
/Microsoft_C#/.vs/Microsoft_C#/v17/.suo
Microsoft_C\#/.vs/Microsoft_C\#/v17/.suo
Microsoft_C\#/StudentGrading/bin/Debug/net8.0/StudentGrading.dll
Microsoft_C\#/StudentGrading/bin/Debug/net8.0/StudentGrading.exe
Microsoft_C\#/StudentGrading/bin/Debug/net8.0/StudentGrading.pdb
Microsoft_C\#/StudentGrading/obj/Debug/net8.0/apphost.exe
Microsoft_C\#/StudentGrading/obj/Debug/net8.0/ref/StudentGrading.dll
Microsoft_C\#/StudentGrading/obj/Debug/net8.0/refint/StudentGrading.dll
Microsoft_C\#/StudentGrading/obj/Debug/net8.0/StudentGrading.AssemblyInfo.cs
Microsoft_C\#/StudentGrading/obj/Debug/net8.0/StudentGrading.AssemblyInfoInputs.cache
Microsoft_C\#/StudentGrading/obj/Debug/net8.0/StudentGrading.dll
Microsoft_C\#/StudentGrading/obj/Debug/net8.0/StudentGrading.pdb
Microsoft_C\#/StudentGrading/obj/Debug/net8.0/StudentGrading.sourcelink.json
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/db4e0959-6dde-43f4-b565-0c13818d7a38.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/f6f2e672-c952-4564-9f08-178ab90d9faa.vsidx
/Microsoft_C#/.vs/Microsoft_C#/FileContentIndex
