
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/21513311-dca2-4513-be9a-2d48d6d205f6.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/5ccbefc0-8032-4914-81b3-fbb165b0aec7.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/ede51943-d9b1-462c-b1d1-f7f7edfc725f.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/FileContentIndex/f3a19e6c-c26c-4362-b63d-355da8795e4b.vsidx
Microsoft_C\#/.vs/Microsoft_C\#/DesignTimeBuild/.dtbcache.v2
Microsoft_C\#/.vs/Microsoft_C\#/v17/.futdcache.v2
